:root{
    --borderColor: rgb(20, 200, 50);
    --shadowColor: rgba(7, 172, 46, 0.636);
    --displayColor: rgb(67, 255, 20);
    --equalColor: rgba(153, 11, 90, 0.6);
    --equalColorHover: rgba(40, 30, 25, 0.6);
    --equalColorHoverInside: rgba(13, 155, 0, 0.6);
}
body{
    background-color: black;
    margin: 0;
}
#background{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-image: url(https://thumbs.gfycat.com/HilariousMemorableArkshell-size_restricted.gif);
    background-size: cover;
}
.container{
    max-width: 400px;
    margin: 0 50px;
    background-color: rgba(0, 0, 0, 0.8);
}
#display{
    color: var(--displayColor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    height: 50px;
    line-height: 70px;
    padding: 16px 20px;
    font-size: 35px;
    border: 2px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: hidden;
}
.buttons{
    display: grid;
    border:2px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttons > div{
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}
.button{
    display: grid;
    color: var(--borderColor);
    border: 0.5px solid var(--borderColor);
    height: 80px;
    width: 80px;
    text-align: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    margin: 3px 5px;
    border-radius: 15px;
}
.button:hover{
    background-color: rgba(67, 66, 66, 0.276);
    color: white;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 3px 1px  var(--shadowColor);
}
#equal{
    background-color: var(--equalColor);
    font-weight: bold;
    color: var(--displayColor);
}
#equal:hover{
    background-color: var(--equalColorHover);
    color: var(--displayColor);
}

#description{
    padding: 0 50px;
    display: flex;
    align-items: center;
    align-content: center;
    color: aliceblue;
    height: 530px;
    width: 700px;
    background-image: linear-gradient(var(--borderColor),var(--shadowColor));
    border-radius: 50px;
    font-size: 30px;
}