:root{
    --borderColor: rgb(20, 200, 50);
    --shadowColor: rgba(7, 172, 46, 0.636);
    --displayColor: rgb(67, 255, 20);
    --equalColor: rgba(153, 11, 90, 0.6);
    --equalColorHover: rgba(40, 30, 25, 0.6);
    --equalColorHoverInside: rgba(13, 155, 0, 0.6);
}
body{
    background-color: black;
    margin: 0;
}
#background{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://thumbs.gfycat.com/HilariousMemorableArkshell-size_restricted.gif);
    background-size: cover;
}
#calc_container{
    margin: 0 1.5rem;
    min-width: 400px;
    max-width: auto;
    background-color: rgba(0, 0, 0, 0.8);
    flex: 1;
}
#display{
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--displayColor);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    height: 50px;
    line-height: 70px;
    padding: 16px 20px;
    font-size: 35px;
    border: 2px solid var(--borderColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
    overflow-y: hidden;
}
#display::-webkit-scrollbar {
    width: auto;
    height: 4px;
}
  
#display::-webkit-scrollbar-track {
    background-color: transparent;
}
  
#display::-webkit-scrollbar-thumb {
    background-color: var(--displayColor);
    border-radius: 10%;
}
.buttons{
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    margin-inline: auto;
    height: 400px;
    border:2px solid var(--borderColor);
    border-top: 1px solid var(--borderColor);
    grid-template-columns: repeat(4, 1fr);
}
.buttons > div{
    border-top: 1px solid var(--borderColor);
    border-right: 1px solid var(--borderColor);
}
.button{
    display: grid;
    color: var(--borderColor);
    border: 0.5px solid var(--borderColor);
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
    border-radius: 15px;
}
.button:hover{
    background-color: rgba(67, 66, 66, 0.276);
    color: white;
    font-weight: 400;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 3px 1px  var(--shadowColor);
}
#equal{
    background-color: var(--equalColor);
    font-weight: bold;
    color: var(--displayColor);
}
#equal:hover{
    background-color: var(--equalColorHover);
    color: var(--displayColor);
}

#description{
    padding: 0 30px;
    margin: 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    height: 530px;
    background-image: linear-gradient(var(--equalColor),var(--equalColorHover));
    border-radius: 50px;
    font-size: 3vw;
    flex: 2;
}
#description > *{
    margin: 10px 0;
}
#description > p{
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#description > ul{
    font-size: 33px;
}
@media (max-width: 1317px){
    #background{
        height: auto;
        padding: 30px 0;
    }
    #description > p{
        font-size: 4vw;
    }
    #description > ul{
        font-size: 2.5vw;
    }
}
@media (max-width:821px){
    #background{
        justify-content: center;
    }
    #description{
        overflow: scroll;
        flex: auto;
        border-radius: 0;
        width: 100%;
        margin: 0;
        margin-top: 20px;
    }
    #description > p{
        font-size: 8vw;
    }
    #description > ul{
        font-size: 5vw;
    }
    #calc_container{
        max-width: 500px;
    }
}
@media (max-width: 720px) {
    #description{
        margin: 0;
        margin-top: 20px;
        width: 100%;
    }
    #description > ul{
        font-size: 5vw;
    }
    #calc_container{
        margin: 0;
    }
}
@media (max-width: 480px){
    #calc_container{
        margin: 10px;
        min-width: fit-content;
    }
    #description > ul{
        font-size: 7vw;
    }
}